[Unit]
Description=GOLEM Wizard
Before=getty@tty1.service
DefaultDependencies=no
ConditionKernelCommandLine=!skip_autostart

[Service]
ExecStart=/usr/local/bin/golemwz
StandardInput=tty-force
StandardOutput=inherit
TTYPath=/dev/tty1
User=golem
Group=golem

[Install]
WantedBy=multi-user.target
