[Unit]
Description=GOLEM SP Boot
Wants=network-online.target
After=network-online.target golemwz.service
ConditionKernelCommandLine=!skip_autostart

[Service]
ExecStart=/usr/bin/golemsp run
Restart=always
Type=simple
User=golem
Group=golem
Environment=HOME=/home/golem
LimitMEMLOCK=infinity
PIDFile=/home/golem/.local/share/ya-provider/ya-provider.pid

[Install]
WantedBy=default.target
